@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#fullscr-toggler { display:none!important; }
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }


/*
 * Compact findbar at the top of the window
 *
 * Contributor(s): Madis0
 */

.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
  position: fixed !important;
  right: 1em;
  border: 1px solid threedshadow !important;

  /* Hide the "border" at the top by removing the box-shadow and background-image */
  border-top: none !important;
  box-shadow: none !important;
  background-image: none !important;

  /* Uncomment to add a transition from the top */
  /*
  transition: 400ms !important;
  z-index: 0 !important;
  */
}

/* Margin from top when hidden (necessary for the transition to work) */
/*findbar[hidden]{ margin-top: -2em !important; }*/

/* Aligns the close button to the center */
.findbar-closebutton {
  margin-inline-start: 0.5em !important;
  vertical-align: middle !important;
  margin-bottom: 0.25em !important;
  height: inherit !important;
}

/* Hides the Highlight All button on findbar */

.findbar-highlight {
  visibility: collapse !important;
}

/* Hides the Match Case button on findbar */

.findbar-case-sensitive {
  visibility: collapse !important;
}

/* Hides the Whole Words button on findbar */

.findbar-entire-word {
  visibility: collapse !important;
}

/* Hides the status text on findbar (Phrase not found/Reached end of page...) */

.findbar-find-status {
  visibility: collapse !important;
}
